services:
  api:
    build:
      context: ./backend
      dockerfile: docker/Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
      - /app/.venv
    env_file:
      - .env
    environment:
      DATABASE_URL: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/${MYSQL_DATABASE}
    command: ["uv", "run", "fastapi", "dev", "--host", "0.0.0.0", "--port", "8000"]
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: docker/Dockerfile
    ports:
      - 5173:5173
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - 3309:3306
    volumes:
      - mysql-data:/var/lib/mysql

  # opensearch:
  #   image: opensearchproject/opensearch:2
  #   environment:
  #     - discovery.type=single-node
  #     - plugins.security.disabled=true
  #     - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Admin123!
  #   ports:
  #     - 9205:9205
  #   volumes:
  #     - opensearch-data:/usr/share/opensearch/data

volumes:
  mysql-data:
  # opensearch-data:

